<style>@import "selects.css";</style>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Select2</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">

    <div class="panel panel-default">
      <div class="panel-body">
        Select country:
        <select [(ng-model)]="country">
          <option value=""></option>
          <option value="fr">France</option>
          <option value="de">Germany</option>
          <option value="pl">Poland</option>
        </select>
        <div>
          Country: {{ country }}
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        Select2 country:
        <select id="country" [(ng-model)]="country" data-placeholder="-- select country --" data-allow-clear='true' select2>
          <option value=""></option>
          <option value="fr">France</option>
          <option value="de">Germany</option>
          <option value="pl">Poland</option>
        </select>
        <div>
          Country: {{ country }}
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        Select2 tags:
        <select multiple id="tags" [(ng-model)]="tags" multiple select2 data-tags="true"></select>
        <div>
          Tags: {{ tags }}
        </div>
      </div>
    </div>

  </div>
</div>
